mohaymen-codestar-Team02/bin
mohaymen-codestar-Team02/obj
.idea
mohaymen-codestar-Team02/appsettings.Development.json
mohaymen-codestar-Team02_XUnitTest/bin
mohaymen-codestar-Team02_XUnitTest/obj
mohaymen-codestar-Team02_XUnitTest/appsettings.Development.json